/*Estilo anterior */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #af6b4c;
  color: #fff;
  padding: 16px;
  text-align: center;
}

header a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px; 
  margin-top: 20px;
}

header a:hover {
  background-color: #9e6449;
}

main {
  padding: 16px;
  background-color: #f5f5f5;
}

section {
  background-color: #fff;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  margin: 16px 0;
}

.last {
  margin-bottom: 60px;
}

h2 {
  border-bottom: 2px solid #af6b4c;
  padding-bottom: 8px;
}

label {
  display: block;
  margin-top: 8px;
} 

input {
  width: 99%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 8px;
}

footer {
  text-align: center;
  background-color: #af6b4c;
  padding: 16px;
  color: #fff;
  bottom: 0;
  position: fixed;
  width: 100%;
}